@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar Contraseña";
    ViewData["OcultarMenu"] = true;
}

<!-- ENCABEZADO PRINCIPAL -->
<header class="siara-header">
    <img src="~/img/tecnm_logo.png" alt="TecNM" class="logo-header" />
    <div class="siara-header-text">
        <h1>TECNOLOGICO NACIONAL DE MEXICO</h1> 
        <h2>Sistema Integral de Análisis y Reportes Académicos</h2> 
    </div>
    <img src="~/img/instituto_logo.png" alt="ITC" class="logo-header" />
</header>

<div class="login-wrapper">
    <div class="tarjeta-siara">
        <!-- LOGO DEL SISTEMA -->
        <img src="~/img/siara_logo.png" alt="S.I.A.R.A" class="logo-siara-centro" />
        
        <!-- TEXTO DE RECUPERAR CONTRASEÑA -->
        <h3 class="titulo-pantalla">RECUPERAR CONTRASEÑA</h3> <!--[cite: 1] -->

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="texto-error"></div>

            <!-- CASILLA PARA ESCRIBIR EL CORREO ASOCIADO A LA CUENTA -->
            <div class="grupo-input">
                <svg class="icono-input" viewBox="0 0 24 24">
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                </svg>
                <!-- se ajusto el placeholder por la longitud del texto -->
                <input asp-for="Input.Email" class="input-siara" autocomplete="username" style="font-size: 13px;" placeholder="INGRESA EL CORREO ASOCIADO A TU CUENTA" /> <!--[cite: 1] -->
                <span asp-validation-for="Input.Email" class="texto-error"></span>
            </div>

            <div class="contenedor-botones-columna">
                <!-- CASILLA PARA ENVIAR LOS DATOS -->
                <button type="submit" class="btn-siara" style="width: 70%;">ENVIAR</button> 
                <!-- BOTON PARA REGRESAR A LA PANTALLA ANTERIOR (P1) -->
                <a asp-page="./Login" class="btn-siara" style="width: 70%;">REGRESAR</a> 
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}