@model SIARAWEB.ViewModels.DocenteViewModel
@{
    ViewData["Title"] = "Nuevo Docente";
}

<div class="modal-docente-wrapper">
    <div class="tarjeta-modal">
        <!-- Botón Cerrar -->
        <a asp-action="Index" class="btn-cerrar-rojo">&#10005;</a>

        <form asp-action="Create" method="post" class="modal-body">
            <div asp-validation-summary="ModelOnly" class="texto-error"></div>

            <div class="titulo-datos">DATOS DEL DOCENTE</div>

            <div class="input-wrapper">
                <input asp-for="Name" class="input-grueso" placeholder="NOMBRE COMPLETO" />
            </div>
            <div class="input-wrapper">
                <input asp-for="Rfc" class="input-grueso" placeholder="RFC" />
            </div>
            <!-- Regresamos a CURP -->
            <div class="input-wrapper">
                <input asp-for="Curp" class="input-grueso" placeholder="CURP" />
            </div>
            <div class="input-wrapper">
                <input asp-for="Email" class="input-grueso" placeholder="CORREO ELECTRONICO" />
            </div>

            <div class="input-wrapper">
                <input asp-for="Password" type="password" class="input-grueso" placeholder="CONTRASEÑA" />
            </div>

            <div style="margin-top: 25px;">
                <button type="submit" class="btn-azul-3d">GUARDAR Y ENVIAR</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}